*{
    box-sizing: border-box;
}
body{
    max-width:  500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    min-height: 100vw;
    margin: 0 auto;
}
.tabuleiro{
    background-color: orange;
    padding: 80px;
    display: flex;
    gap: 10px;
    max-width:  800px;
    width: 500px;
}
.casa{
    background-color: maroon;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.disco{
    background-color:black;
    border: 5px solid white;
    height: 50%;
    aspect-ratio:  1;
    border-radius: 100px;
}
.disco.branco{
    background-color:white;
    border: 6px solid black;
}